.mvvm-fetching {
    color: gray;
}

.mvvm-fetching:before {
    content: url(http://www.ajaxprojects.com/db/img16.gif);
}


.mvvm-error {
    border: solid 1px red;
	background-color: #fee;
	color: red;
}

.mvvm-error:before {
	content: 'ERROR - See mvvm-error attribute for more information.'
}