@CHARSET "UTF-8";

.mvvm-fetching {
	border: solid 1px red;
	background-color: white;
	color: red;
}

.mvvm-fetching:before {
	content: url(http://www.ajaxprojects.com/db/img16.gif) ' (Imagem de ajax definido em CSS)';
}

.mvvm-error {
	border: solid 1px red;
	background-color: #fee;
	color: red;
}

.mvvm-error:before {
	content: 'Ocorreu um erro. Vide atribute mvvm-error neste elemento ou o console de javascript para mais informações.'
}

.reuniaoPlenario {
	border: solid 1px #ccc;
	background-color: #eee;
	margin-bottom: 1em;
	padding: 1ex;
}

.reuniaoPlenario .reuniao {
	font-weight: bold;
}

.reuniaoPlenario .reuniao .numero {
	color: red;
}

.reuniaoPlenario .agendamento:before {
	content: ' a ser realizada em ';
}

.reuniaoPlenario .reuniao,
.reuniaoPlenario .agendamento {
	display: inline;
}
	
.reuniaoPlenario .agendamento .dia,
.reuniaoPlenario .agendamento .hora {
	display: inline;
}

.reuniaoPlenario .agendamento .hora:before {
	content: '| ';
}