.tweet + .tweet {
	border-top: solid 1px gray;
}

.tweet {
	margin: 1ex;
	padding: 1ex;
	clear: both;
}

.tweet .user {
	float: left;
	text-align: center;
	width: 20ex;
}

.tweet .user img {
	display: block;
	margin: auto;
	left: auto;
	right: auto;
}

.tweet .createdAt {
	color: gray;
}

.tweet p {
	margin: 0;
}

.crossview-loading:before {
	content: 'Loading... ';
}

.crossview-fetching:before {
	content: 'Fetching... ';
}

.crossview-error {
	color: red;
}

.crossview-error:before {
	content: 'Error! ';
}