<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="../../target/crossview.js"></script>
        <link href="../test.css" rel="stylesheet" type="text/css" />

        <!-- Simple MVVM mapping -->
        <link href="twitterView.html" rel="crossview-view" type="text/html" />
    </head>
    <body data-viewModel="TestViewModel">
        <script type="text/javascript">
            function TestViewModel() {
                console.log("View-Model created!");
                this.id = "Test View Model";
            }
            
            function assert(condition, message) {
                if (!condition)
                    $("<li/>").text(message).appendTo("#result ul");
            }
    
            TestViewModel.prototype.test = function(el, data) {                
                assert(this.id == "Test View Model", '"this" does not points to view-model: ' + this);
                assert(el.attr("id") == "testForm", "Wrong first argument - should be jQuery element wrapper.");
                assert(data, "There is no data.");
                assert(data.query, "Unexpected data.");
                assert(this.getRenderData() == this, "Render data is not view-model!");
                
                if (!$("#result ul").children().length)
                    $("#result").text("Test passed").addClass("success");
            };
            
            TestViewModel.prototype.getRenderData = function() {
                return this;
            };
        </script>

        <h1>View-Model Test and rendering</h1>
        <p>
            This tests a form submission using view-model command and rendering a view using it.
        </p>
        <hr/>

        <form method="get"
              action="http://search.twitter.com/search.json"
              data-fetch-mode="yql"
              data-command="test"
              data-form-render="twitter"
              id="testForm">
            <div class="item">
                <label for="query">Query:</label>
                <input id="query" name="q" value="javascript" />
            </div>
	        <input type="hidden" name="rpp" value="1" />
	        <input type="hidden" name="include_entities" value="false" />
	        <input type="hidden" name="with_twitter_user_id" value="false" />
	        <input type="hidden" name="result_type" value="recent" />
            <div class="item">
                <label for="language">Language:</label>
                <input id="language" name="lang" />
            </div>
            <input type="submit" />
            <input type="reset" />
        </form>
        
        <div id="result">
            <h3>List o problems</h3>
            <ul></ul>
        </div>

        <div id="twitter"
             data-json-path="data.results"
             data-view="twitterView">
            <!-- Twitter data will come here -->
        </div>
        
        <script type="text/javascript">
             $(function() { $("form").submit() });
        </script>
    </body>
</html>
