<!DOCTYPE html>
<html>
    <head>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="../../target/crossview.js"></script>

		<!-- Stylesheet -->
		<link href="twitter.css" rel="stylesheet" type="text/css" />

		<!-- Simple MVVM mapping -->
        <link href="twitterView.html" rel="crossview-view" type="text/html" />
    </head>
    <body>
        <h1>Post, but append</h1>
        <p>
            This tests form submission that renders a view, but, instead of replacing its content,
            CrossView will append elements.
        </p>
        <hr/>
		<!-- A form whose submission trigger rendering of #twitter -->
        <form method="get"
              action="http://search.twitter.com/search.json"
	          data-json-path="results"
              data-fetch-mode="yql"
              data-form-render="twitter"
              data-form-render-mode="append">
            <div class="item">
                <label for="query">Query:</label>
                <input id="query" name="q" value="javascript mvvm" />
            </div>
	    <input type="hidden" name="rpp" value="1" />
	    <input type="hidden" name="include_entities" value="false" />
	    <input type="hidden" name="with_twitter_user_id" value="false" />
	    <input type="hidden" name="result_type" value="recent" />
            <div class="item">
                <label for="language">Language:</label>
                <input id="language" name="lang" />
            </div>
            <input type="submit" />
            <input type="reset" />
        </form>

		<!-- Twitter view which is renderd on page load and also after form submission (se form attributes) -->
        <div id="twitter"
	         data-view="twitterView">
	        <!-- Twitter data will come here -->
        </div>
    </body>
</html>
